<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Resume page(inline styles)</title>

</head>

<body style="background-color:orange">
<div class="heading" style="text-align: center">
    <h2>Rangel's Resume</h2>
</div>
<div class="content" style="background-color:red;width: 80%;margin:0 auto;padding:10px 0px;text-align: center">
<h3>Template</h3>
<div class="container" style="margin:20px 50px;overflow:auto">
	<div style="float:left; height:500px; background-color:pink;width:20%"></div>
	<div style="float:left; height:500px; background-color:green;width:40%"></div>
	<div style="float:left; height:500px; background-color:yellow;width:40%"></div>
</div>
<a href="mailto:webmaster@example.com">Email me</a>.
</div>
</body>

</html>
